.contact-maincontainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    height: 500px;
    width: 70%;
    border: 2px solid #588061;
    color: #588061;
    border-radius: 50px;
}

.contact-subcontainer{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
}

.contact-subcontainer2 {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    width: 60%;
    height: 100%;
    background-image: url('../images/customer-service.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 0 48px 48px 0;
}

.contact-subcontainer2 p{
    margin-bottom: 20px;
}

h1{
    font-family: "Signika Negative", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    align-self: center;
    margin-bottom: 30px;
}

p{
    margin-bottom: 10px;
    font-size: 13px;
    font-weight: bold;
}

.contact-subcontainer input{
    margin-bottom: 10px;
    justify-self: center;
}

.contact-subcontainer input:last-child{
    margin-bottom: 0;
    justify-self: center;
    align-self: center;
}

.contact-textbox-header{
    display: flex;
}

.contact-textbox{
    width: 100%;
    border: none;
    padding-left: 5px;
    padding-bottom: 5px;
    border-bottom: 1px solid #588061;
    background-color: #FDE9EA;
    height: 10px;
    color: #588061;
    outline: none;
    font-size: 12px;
}

.contact-textbox-big{
    width: 100%;
    height: 150px;
    border: 1px solid #588061;
    background-color: #FDE9EA;
    resize: none;
    color: #588061;
    font-size: 12px;
    outline: none;
    padding: 5px;
}

.button {
    font-family: "Signika Negative", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-size: 14px;
    border: 2px;
    border-radius: 20px;
    padding: 5px 10px;
    color: #FDE9EA;
    width: 50%;
    background-color: #588061;
    margin-top: 15px;
}

.button:hover{
    background-color: #FDE9EA;
    border: 1px solid #588061;
    color: #588061;
}