.menu-main-container{
    height: 700px;
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-main-subcontainer{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 90%;
    width: 30%;
}

.menu-main-subcontainer2{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 90%;
    width: 70%;
}


.menu-imgcontainer{
    background-image: url('../images/menu2-pics/basic-matcha.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 5px;
    width: 95%;
    height: 60%;
    margin-top: auto;
}

.menu-imgcontainer2 {
    background-image: url('../images/menu2-pics/strawberry-matcha.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 5px;
    width: 95%;
    height: 60%;
    margin-top: auto;
}

.menu-imgcontainer3 {
    background-image: url('../images/menu2-pics/pink-matcha.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 5px;
    width: 95%;
    height: 60%;
    margin-top: auto;
}

.menu-imgcontainer4 {
    background-image: url('../images/menu2-pics/hot-matcha.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 5px;
    width: 95%;
    height: 60%;
    margin-top: auto;
}

.menu-imgcontainer5 {
    background-image: url('../images/menu2-pics/matcha-choco.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 5px;
    width: 95%;
    height: 60%;
    margin-top: auto;
}

.menu-imgcontainer6 {
    background-image: url('../images/menu2-pics/matcha-white.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 5px;
    width: 95%;
    height: 60%;
    margin-top: auto;
}

.menu-imgcontainer7 {
    background-image: url('../images/menu2-pics/matcha-brownies.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 5px;
    width: 95%;
    height: 60%;
    margin-top: auto;
}

.menu-imgcontainer3 {
    background-image: url('../images/menu2-pics/pink-matcha.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 5px;
    width: 95%;
    height: 60%;
    margin-top: auto;
}


.menu-subcontainer2 {
    background-color: none;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 95%;
    height: 35%;
    font-family: "Libre Baskerville", serif;
    font-weight: 400;
    font-style: normal;
}

.menu-innercontainer{
    background-color: red;
    width: 80%;
    height: 80%;
}

.menu-innercontainer2 {
    background-color: red;
    width: 80%;
    height: 20%;
}

.title{
    display: flex;
    width: 93%;
    justify-content: space-between;
    margin-top: 10px;
    padding: 10px;
    border: 2px solid #588061;
    background-color: #FDE9EA;
}

.title span{
    font-family: "Signika Negative", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-weight: bold;
    font-size: 22px;
    color: #588061;
}

.title2{
    display: flex;
    width: 98%;
    justify-content: space-between;
    margin-top: 10px;
}

.title2 select{
    color: #588061;
    border: 1px solid #588061;
    font-family: "Libre Baskerville", serif;
    font-weight: 400;
    font-style: normal;
    outline: none;
    font-size: small;
    font-weight: bold;
    background-color: #FDE9EA;
    border-left: none;
    border-right: none;
    width: 80px;
}

.title2 p{
    font-size: 14px;
    font-weight: bold;
    border: none;
}

.order-summary {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 93%;
    border: 2px solid #588061;
    background-color: #FDE9EA;
    padding: 10px;
    margin-top: 50px;
}

.order-contents {
    display: flex;
    justify-content: space-between;
    width: 100%;
    color: #588061;
    border-bottom: 2px dashed #588061;
    padding-bottom: 5px;
}

.order-quantity-name{
    display: flex;
}

.order-contents p{
    font-family: "Signika Negative", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-weight: bold;
    font-size: 22px;
    margin: 0;
    margin-right: 10px;
}

.order-contents span{
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 10px;
}

.order-quantity-name span:last-child, .order-quantity-name p:last-child{
    margin-right: 0;
}

.order-quantity-name span:last-child{
    margin-top: 5px;
}


h2 {
    text-align: center;
    margin-bottom: -60px;
    font-family: "Signika Negative", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-size: 50px;
    color: #FDE9EA;
    width: 71.5%;
    margin-left: auto;
    margin-right: auto;
    background-color: #588061;
    border-radius: 5px;
    padding: 5px;
}


#last-subtitle{
    width: 96.5%;
}


h3 {
    font-family: "Signika Negative", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-size: 22px;
    color: #588061;
}


p{
  margin-top: 8px;
  font-family: "Libre Baskerville", serif;
  font-weight: 400;
  font-style: normal;
  font-size: smaller;
  text-align: justify-all;
  color: #588061;
}

.menu-textbox {
    width: 50px;
    border: none;
    padding-left: 5px;
    padding-bottom: 5px;
    border: 1px solid #588061;
    background-color: #FDE9EA;
    height: 20px;
    color: #588061;
    outline: none;
    font-size: 12px;
}

select#ContentPlaceHolder1_DDSizePastries{
    width: 130px;
}

.button-container{
    display: flex;
    width: 98%;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 0;
}

.menu-button{
    font-family: "Signika Negative", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-size: 14px;
    border: 2px;
    border-radius: 20px;
    padding: 5px 10px;
    color: #FDE9EA;
    width: 25%;
    background-color: #588061;
    margin-top: 15px;
    margin-bottom: 10px;
}

.menu-button:hover{
    background-color: #FDE9EA;
    border: 1px solid #588061;
    color: #588061;
}

/**********/
/*Gridview*/
/**********/

th {
    margin-top: 500px;
    border-top: 1px dashed #588061;
    border-bottom: 1px dashed #588061;
    color: #588061;
    font-family: "Signika Negative", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    height: 50px;
    font-size: larger;
    text-align: center;
}

th:last-child {
    text-align: right;
    visibility: hidden;
}


td {
    border: none;
    padding: 10px;
    text-align: left;
    Width: 300px;
    height: 30px;
    color: #588061;
}

/*
td:last-child {
    text-align: right;
}
*/

.footer {
    margin-top: 200px;
    border-bottom: 1px dashed #588061;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}

div#ContentPlaceHolder1_orderIDHeading.order-contents {
    border: none;
}

div#ContentPlaceHolder1_orderIDCustomer.order-contents{
    border: none;
}