.menu-maincontainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    margin: auto;
    height: 100%;
    width: 60%;
    border: 2px solid #588061;
    color: #588061;
    
}

h1 {
    font-family: "Signika Negative", sans-serif;
    font-optical-sizing: auto;
    font-size: 70px;
    font-weight: 700;
    font-style: normal;
    align-self: center;
    text-align: center;

}
.parent {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-around;
    justify-content: space-around;
    width: 100%;
    margin: 1rem;
    padding: 2rem 2rem;
    text-align: center;

    
}

.child {
    display: inline-block;
    vertical-align: middle;
    display: flex;
    -webkit-justify-content: space-around;
    justify-content: space-around;
    flex-direction: column;
    width: 100%;
    height: 300px;
    box-shadow: 0 0 10px gray;
    margin: 1rem;
    padding: 25px;
    text-align: center;
    align-items: center;
    font-family: "Signika Negative", sans-serif;
    border-radius: 15%;
}

p {
    font-size: 30px;
    font-weight: bold;
}
p2 {
    font-size: 9px;
    font-weight: lighter;
}
.images {
    display: flex;
    border-radius: 50%;
    height: 45%;
    width: 90%;
    align-items: center;
}
.menu-price {
    width: 50%;
    border: none;
    padding-left: 5px;
    padding-bottom: 5px;
    border-bottom: 1px solid #588061;
    background-color: #FDE9EA;
    height: 10px;
    color: #588061;
    outline: none;
    font-size: 12px;
    
}
.menu-total {
    width: 50%;
    border: none;
    padding-left: 5px;
    padding-bottom: 5px;
    border-bottom: 1px solid #588061;
    background-color: #FDE9EA;
    height: 15px;
    color: #588061;
    outline: none;
    font-size: 12px;

}
.menu-quantity {
    width: 100%;
    border: none;
    padding-left: 5px;
    padding-bottom: 5px;
    border-bottom: 1px solid #588061;
    background-color: #FDE9EA;
    height: 15px;
    color: #588061;
    outline: none;
}
.menu-drop {
    background-color: #FDE9EA;
    border-bottom: 1px solid #588061;
    color: #588061;
    height: 20px;
    outline: none;

}
.button {
    font-family: "Signika Negative", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-size: 10px;
    border: 2px;
    border-radius: 20px;
    padding: 5px 10px;
    color: #FDE9EA;
    width: 50%;
    background-color: #588061;
    margin-top: 15px;
    align-self: flex-end;
}
