.payment-maincontainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    height: 700px;
    width: 40%;
    border: 2px solid #588061;
    color: #588061;
    border-radius: 50px;
}

.payment-subcontainer{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}

h1{
    font-family: "Signika Negative", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    align-self: center;
    margin-bottom: 30px;
}

p{
    margin-bottom: 10px;
    font-size: 13px;
    font-weight: bold;
}

.payment-subcontainer input{
    margin-bottom: 10px;
    justify-self: center;
}

.payment-subcontainer input:last-child{
    margin-bottom: 0;
    justify-self: center;
    align-self: center;
}

.payment-textbox-header{
    display: flex;
}

.payment-textbox{
    width: 100%;
    border: none;
    padding-left: 5px;
    padding-bottom: 5px;
    border-bottom: 1px solid #588061;
    background-color: #FDE9EA;
    height: 10px;
    color: #588061;
    outline: none;
    font-size: 12px;
    text-align:center;
}

.payment-textbox-big{
    width: 100%;
    height: 50px;
    border: 1px solid #588061;
    background-color: #FDE9EA;
    resize: none;
    color: #588061;
    font-size: 12px;
    outline: none;
    padding: 5px;
    margin-bottom: 5px;
    text-align:center;
}

.button {
    font-family: "Signika Negative", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-size: 14px;
    border: 2px;
    border-radius: 20px;
    padding: 5px 10px;
    color: #FDE9EA;
    width: 50%;
    background-color: #588061;
    margin-top: 15px;
}

.button:hover{
    background-color: #FDE9EA;
    border: 1px solid #588061;
    color: #588061;
}

select {
    color: #588061;
    border: 1px solid #588061;
    font-family: "Libre Baskerville", serif;
    font-weight: 400;
    font-style: normal;
    outline: none;
    font-size: small;
    font-weight: bold;
    background-color: #FDE9EA;
    border-left: none;
    border-right: none;
    width: 30%;
    height: 30px;
    text-align:center;
}

select#ContentPlaceHolder1_DDPaymentMethod{
    margin-bottom: 10%;
    border: none;
    background-color: #588061;
    color: #FDE9EA;
    border-radius: 20px;
    padding: 5px;
    margin-bottom: 10px;
}

select#ContentPlaceHolder1_DDRewardsPoints{
    margin-bottom: 1%;
    border: none;
    background-color: #588061;
    color: #FDE9EA;
    border-radius: 20px;
    padding: 5px;
    width: 115px;
}

div.payment-textbox-header input {
    width: 100%;
}



div.payment-textbox-header p:last-child{
    margin-left: 100px;

}

div.payment-textbox-header input:last-child{
    margin-left: 10px;
    margin-bottom: 10px;
}

