.s-success-main-container {
    height: 400px;
    width: 30%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #FDE9EA;
    border-radius: 50px;
    border: 2px solid #588061;
}

.s-success-subcontainer {
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    color: #588061;
}

.s-success-subcontainer2 {
    width: 100%;
    height: 70%;
    background-color: #588061;
    border-radius: 48px 48px 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    font-family: "Signika Negative", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    align-self: center;
    margin-bottom: 5%;
}

p {
    margin-bottom: 10px;
    margin-right: auto;
    margin-left: auto;
    font-size: 13px;
    font-weight: bold;
    text-align: center;
}

.button {
    font-family: "Signika Negative", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-size: 14px;
    border: 2px;
    border-radius: 20px;
    padding: 5px 10px;
    color: #FDE9EA;
    width: 25%;
    background-color: #588061;
    margin-top: 15px;
    align-self: center;
}

.button:hover{
    background-color: #FDE9EA;
    border: 1px solid #588061;
    color: #588061;
}